@use "../global" as *;

.p-front {
    margin-top: 80px;
}

.p-front__product {
    margin: 40px 0 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 30px;
    row-gap: 40px;
    @include mq(tl_l) {
        grid-template-columns: 1fr 1fr 1fr;
    }
    @include mq(sp) {
        column-gap: 10px;
        row-gap: 20px;
        grid-template-columns: 1fr 1fr;
    }
    a {
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 5px;
        img {
            border-radius: 5px;
        }
    }
}

.p-front__product-unit-meta {
    margin-top: 10px;
}

.p-front__product-unit-meta-category {
    font-size: 13px;
    color: $text-gray;
}

.p-front__product-unit-name {
    
}

.p-front__product-unit-price {
    color: $text-gray;
    font-size: 15px;
    span {
        display: inline-block;
        margin-left: 8px;
        font-size: 13px;
    }
}
