// メインカラー
// $main-color: #052b58;

// サブカラー
// $sub-color: #00836a;
$navy: #040732;
$green: #254047;

// アクセントカラー
// $accent-color: #f3c921;

// サイトで最も暗い色
$black: #222222;

// サイトで最も暗い色よりも柔らかな色
// $mild-black: #383838;

// サイトで最も明るい色
$white: #fff;

// グレーカラー
// $gray-01: #e4e9ef;
// $gray-02: #e5e9ee;

$text-gray: #777777;
$border: #EAEAEA;

//ベージュ
$baigie_01: #D1BEA9;
$baigie_02: #F2ECE5;

$gold:#925F2B;
