@use "../global" as *;

.c-logo {
    aspect-ratio: 925/442;
    max-width: 110px;
    @include mq(sp) {
        max-width: 80px;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
