@use "../global" as *;

.c-product-image {
    aspect-ratio: 1/1;
    max-width: 200px;
    @include mq(tl) {
        max-width: 150px;
    }
    @include mq(sp) {
        max-width: 100px;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
